<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection Server</title>
</head>
<body>
<form action="/detect" method="post" enctype="multipart/form-data" name="anomalyDetectionForm" target="result">
    <table>
        <tr>
            <td>Choose an algorithm type:</td>
            <td>
                <select type="text" name="algorithms" id="algorithms">
                    <option value="Regression">Regression Based</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Normal Csv File:</td>
            <td><input type="file" name="normal_csv_file"></td>
            <td>Anomaly Csv File:</td>
            <td><input type="file" name="anomaly_csv_file"></td>
        </tr>
        <br>
    </table>
    <input type="submit" value="upload" onclick="myFunction()">
</form>
<br>
<p style="font-size:50px;">The anomalies:</p>
<iframe name="result" width="80%" height="500"></iframe>
<!--<script>
    var txt = '{"name":"John", "age":30, "city":"New York"}'
    var obj = JSON.parse(txt)
    document.getElementById("anomalies").innerHTML = obj.name + ", " + obj.age + "," +obj.city;
</script>-->
</body>
</html>